<div class="w-100 p-3">
  <div
    class="filter-container d-flex align-items-center no-scrollbar pb-2 gap-2 px-2 me-3"
  >
    @for (filter of filters; track $index) {
    <div
      (click)="setSelectedFilter(filter)"
      class="px-2 filter py-1 rounded-1 text-capitalize text-nowrap"
      [style]="filter === selectedFilter ? 'background: #d9d9d9;' : ''"
    >
      {{ filter }}
    </div>
    }
  </div>

  <div class="d-flex flex-column gap-2 no-scrollbar">
    @if (relatedVideos) { @for (video of relatedVideos.data; track $index) {
    <a
      routerLink="/video/{{ video.videoId }}"
      class="rounded-3 p-0 text-decoration-none"
    >
      <img
        [src]="video.thumbnail[0].url"
        alt="Video Thumbnail"
        class="w-100 rounded-3 image overflow-hidden object-fit-cover"
      />
      <div class="ps-1 py-2">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center">
            <img
              [src]="video.thumbnail[0].url"
              [width]="40"
              [height]="40"
              alt="Channel Thumbnail"
              class="rounded-circle me-2"
            />
            <div class="title text-black text-break">
              {{ video.title }}
            </div>
          </div>
        </div>
      </div>
    </a>
    } } @else {
    <div class="text-center p-3">No related videos found</div>
    }
  </div>
</div>
