<aside>
  <nav
    [class]="
      show
        ? 'd-flex flex-column align-items-start gap-2'
        : 'd-flex flex-column align-items-center gap-2'
    "
  >
    <a
      class="text-black text-decoration-none align-items-center d-flex"
      [style]="show ? 'gap: 0.8rem' : 'flex-direction: column;'"
      routerLink="/"
    >
      <fa-icon [icon]="home"></fa-icon>
      <span>Home</span>
    </a>
    <a
      class="text-black text-decoration-none align-items-center d-flex"
      [style]="show ? 'gap: 0.8rem' : 'flex-direction: column;'"
      routerLink="/shorts"
    >
      <fa-icon [icon]="shorts"></fa-icon>
      <span>Shorts</span>
    </a>
    <a
      class="text-black text-decoration-none align-items-center d-flex"
      [style]="show ? 'gap: 0.8rem' : 'flex-direction: column;'"
      routerLink="/subscriptons"
    >
      <fa-icon [icon]="subs"></fa-icon>
      <span>Subscriptions</span>
    </a>
    <hr [style]="show ? '' : 'display: none'" />
    <a
      class="text-black text-decoration-none align-items-center d-flex"
      [style]="show ? 'gap: 0.8rem' : 'flex-direction: column;'"
      routerLink="/user"
    >
      <fa-icon [icon]="user"></fa-icon>
      <span>You</span>
    </a>
    @if (show) {
    <a
      class="text-black text-decoration-none d-flex gap-3 align-items-center"
      routerLink="/history"
    >
      <fa-icon [icon]="history"></fa-icon>
      <span>History</span>
    </a>
    <a
      class="text-black text-decoration-none d-flex gap-3 align-items-center"
      routerLink="/playlists"
    >
      <fa-icon [icon]="playlist"></fa-icon>
      <span>Playlist</span>
    </a>
    <a
      class="text-black text-decoration-none d-flex gap-3 align-items-center"
      routerLink="/your-videos"
    >
      <fa-icon [icon]="yourVideos"></fa-icon>
      <span>Your videos</span>
    </a>
    <a
      class="text-black text-decoration-none d-flex gap-3 align-items-center"
      routerLink="/watch-later"
    >
      <fa-icon [icon]="watchLater"></fa-icon>
      <span>Watch later</span>
    </a>
    <a
      class="text-black text-decoration-none d-flex gap-3 align-items-center"
      routerLink="/liked-videos"
    >
      <fa-icon [icon]="likedVideos"></fa-icon>
      <span>Liked videos</span>
    </a>
    <hr />
    <a
      class="text-black text-decoration-none d-flex gap-3 align-items-center"
      routerLink="/trending"
    >
      <fa-icon [icon]="trending"></fa-icon>
      <span>Trending</span>
    </a>
    <a
      class="text-black text-decoration-none d-flex gap-3 align-items-center"
      routerLink="/music"
    >
      <fa-icon [icon]="music"></fa-icon>
      <span>Music</span>
    </a>
    <a
      class="text-black text-decoration-none d-flex gap-3 align-items-center"
      routerLink="/gaming"
    >
      <fa-icon [icon]="gaming"></fa-icon>
      <span>Gaming</span>
    </a>
    <a
      class="text-black text-decoration-none d-flex gap-3 align-items-center"
      routerLink="/sport"
    >
      <fa-icon [icon]="sport"></fa-icon>
      <span>Sport</span>
    </a>
    <hr />
    <a
      [style]="show ? '' : 'display: none'"
      class="text-black text-decoration-none d-flex gap-3 align-items-center"
      routerLink="/settings"
    >
      <fa-icon [icon]="settings"></fa-icon>
      <span>Settings</span>
    </a>
    <a
      class="text-black text-decoration-none d-flex gap-3 align-items-center"
      routerLink="/report-history"
    >
      <fa-icon [icon]="flag"></fa-icon>
      <span>Report history</span>
    </a>
    <a
      class="text-black text-decoration-none d-flex gap-3 align-items-center"
      routerLink="/help"
    >
      <fa-icon [icon]="help"></fa-icon>
      <span>Help</span>
    </a>
    <a
      class="text-black text-decoration-none d-flex gap-3 align-items-center"
      routerLink="/send-feedback"
    >
      <fa-icon [icon]="message"></fa-icon>
      <span>Send feedback</span>
    </a>
    }
  </nav>
</aside>
