<div class="d-flex align-items-center gap-2">
  <div
    class="input-container d-flex align-items-center gap-2 w-100 px-2 rounded-5 border border-black"
  >
    <input type="text" class="input w-100" placeholder="Search" />
    <button
      class="btn fs-4 opacity-75 btn-link text-black px-2 py-0"
      title="Search"
    >
      <fa-icon [icon]="search"></fa-icon>
    </button>
  </div>
  <button
    class="btn fs-4 opacity-75 btn-link text-black"
    title="Search with your voice"
  >
    <fa-icon [icon]="mic"></fa-icon>
  </button>
</div>
